<%- include('../layouts/header') -%>
<%- include('../layouts/sidenav') -%>

<form action="/webadmin/updatepassword" method="post">
<div class="row pt-5">
    <div class="col-md-12">
      <div class="row">
        <% if (locals.info) { %>
          <h4 class="alert alert-info"><%= info %></h4>
        <% } %>
        <% if (locals.error) { %>
          <h4  class="alert alert-danger"><%= error %></h4>
        <% } %>
        <div class="col-md-4">
          Old Password:<br/>
        </div>
        <div class="col-md-8">
          <input type="text" class='form-control' name="old_password" id="">
          <input type="hidden" class='form-control' name="user_id" value="<%= user_id %>" id=""><br/>
        </div>
        <div class="col-md-4">
          New Password:<br/>
        </div>
        <div class="col-md-8">
          <input type="text" class='form-control' name="new_password" id=""><br/>
        </div>
        <div class="col-md-4">
          Confirm Password:<br/>
        </div>
        <div class="col-md-8">
          <input type="text" class='form-control' name="confirm_password" id=""><br/>
        </div>
        <div class="col-md-12">
          <input type="submit" name="Save" value="Update" class="form-control btn btn-success">
        </div>
      </div>
    </div>
</div>
  </form>

<%- include('../layouts/footer') -%>

