<%- include('../layouts/header') %>
  <%- include('../layouts/sidenav') %>

    <form action="/webadmin/updatecategory/<%= data._id %>" method="post" enctype='multipart/form-data'>
      <div class="row">
        <% if (locals.info) { %>
          <h4 class="alert alert-info">
            <%= info %>
          </h4>
          <% } %>
            <% if (locals.error) { %>
              <h4 class="alert alert-danger">
                <%= error %>
              </h4>
              <% } %>
                <div class="col-md-3">
                  Category Name:<br />
                </div>
                <div class="col-md-6">
                  <input type="text" class='form-control' name="category_name" id=""
                    value="<%= data.category_name %>"><br />
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                  Category Image:<br />
                </div>
                <div class="col-md-6">
                  <input type="file" class='form-control' name="category_image" id=""><br />
                </div>
                <div class="col-md-9">
                  <input type="submit" name="Save" value="Save " class="form-control btn btn-success">
                </div>
      </div>
    </form>

    <%- include('../layouts/footer') %>