<%- include('../layouts/header') -%>
    <%- include('../layouts/sidenav') -%>

        <div class="row">
            <div class="col-xl-12">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    <%= title %>
                </div>
                <div class="card-body">
                    <% if (locals.info) { %>
                        <h4 class="alert alert-info">
                            <%= info %>
                        </h4>
                        <% } %>
                            <% if (locals.error) { %>
                                <h4 class="alert alert-danger">
                                    <%= error %>
                                </h4>
                                <% } %>
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th colspan="2">Address</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>

                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th colspan="2">Address</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% data.forEach(function(user){ %>
                                                <tr>
                                                    <td>
                                                        <%= user.name %>
                                                    </td>
                                                    <td>
                                                        <%= user.email %>
                                                    </td>
                                                    <td>

                                                        <%= user.contact %>
                                                    </td>
                                                    <td>


                                                        <%= user.address %>
                                                    </td>


                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer') -%>