<%- include('../layouts/header') -%>
    <%- include('../layouts/sidenav') -%>

        <form action="/webadmin/addProduct" method="post" enctype='multipart/form-data'>
            <div class="row pt-5">
                <div class="col-md-6">
                    <div class="row">
                        <% if (locals.info) { %>
                            <h4 class="alert alert-info">
                                <%= info %>
                            </h4>
                            <% } %>
                                <% if (locals.error) { %>
                                    <h4 class="alert alert-danger">
                                        <%= error %>
                                    </h4>
                                    <% } %>
                                        <div class="col-md-4">
                                            Category Name:<br />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class='form-control' name="category_name" id=""><br />
                                        </div>
                                        <div class="col-md-4">
                                            Category Image:<br />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="file" class='form-control' name="category_image" id=""><br />
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" name="Save" value="Save "
                                                class="form-control btn btn-success">
                                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <table id="datatablesSimple">
                        <thead>

                            <tr>
                                <th>Category name</th>
                                <th>Product Name</th>
                                <th>Product Price</th>
                                <th>Description</th>
                                <th>Stock</th>
                                <th>View Count</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Category name</th>
                                <th>Product Name</th>
                                <th>Product Price</th>
                                <th>Description</th>
                                <th>Stock</th>
                                <th>View Count</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% data.forEach(function(product){ %>
                                <tr>
                                    <td>
                                        <%= product.categoryId.category_name %>
                                    </td>
                                    <td>
                                        <%= product.product_name %>
                                    </td>
                                    <td>
                                        <%= "$" + product.product_price %>
                                    </td>
                                    <td>
                                        <%= product.description %>
                                    </td>
                                    <td>
                                        <%= product.stock %>
                                    </td>
                                    <td>
                                        <%= product.view_count %>
                                    </td>
                                    <td>
                                        <% if(product.status==true ){%>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked" checked />

                                                >
                                            </div>
                                            <%else{%>

                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="flexSwitchCheckChecked" checked />

                                                    >
                                                </div>
                                                <%}%>
                                    </td>
                                    <td>


                                    </td>

                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <%- include('../layouts/footer') -%>
